<?xml version="1.0" encoding="utf-8" ?>
<root>
    <maxPrintTimes>99</maxPrintTimes>
	<!--前置网关Url地址-->
	<GatewayUrl>http://192.168.8.161:8081/frontgateway/gateway.do</GatewayUrl>
	<!--监控平台Url地址-->
	<MonitorUrl>http://121.40.253.119/ytmonitor/gateway.do</MonitorUrl>
	<Assembly>YuanTu.QDQLYY</Assembly>

	<!--按钮反馈(目前支持点击后声音)-->
	<ButtonFeedBack>
		<Enable>1</Enable>
		<BeepFrequency>1000</BeepFrequency>
		<BeepDuration>200</BeepDuration>
	</ButtonFeedBack>
	<!--是否启用自动更新-->
	<AutoUpdate>0</AutoUpdate>

	<!--界面倒计时-->
	<TimeOut>60</TimeOut>
	<!--自动关机-->
	<AutoShutdown>
		<Enabled>0</Enabled>
		<Time>18:59</Time>
	</AutoShutdown>
	<!--办卡需要选择类型-->
	<SelectCreateType>1</SelectCreateType>
	<!--mp4-->
	<Clinic>
		<VideoPath>demo.mp4</VideoPath>
		<Volume>80</Volume>
	</Clinic>
	<!--广告配置-->
	<Advertisement>
		<!--广告服务地址-->
		<Url>http://10.122.2.109/aolsee-web</Url>
		<!--凭条广告位-->
		<TicketEnable>1</TicketEnable>
	</Advertisement>
	<!--主页功能设置-->
	<Functions>
		<签到>
			<Name>签到</Name>
			<Order>0</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_签到</ImageName>
		</签到>
		<建档>
			<Name>发卡</Name>
			<Order>0</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_建档发卡</ImageName>
		</建档>
		<挂号>
			<Name>挂号</Name>
			<Order>1</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_挂号</ImageName>
		</挂号>
		<预约>
			<Name>预约</Name>
			<Order>2</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_预约</ImageName>
		</预约>
		<取号>
			<Name>取号</Name>
			<Order>3</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_取号</ImageName>
		</取号>
		<缴费>
			<Name>缴费</Name>
			<Order>4</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_缴费</ImageName>
		</缴费>
		<充值>
			<Name>充值</Name>
			<Order>5</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_充值</ImageName>
		</充值>
		<住院押金>
			<Name>住院押金</Name>
			<Order>6</Order>
			<Visabled>1</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_住院押金</ImageName>
		</住院押金>
		<查询>
			<Name>信息查询</Name>
			<Order>7</Order>
			<Visabled>1</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_查询</ImageName>
		</查询>
		<出院清单打印>
			<Name>出院清单打印</Name>
			<Order>6</Order>
			<Visabled>1</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_住院一日清单</ImageName>
		</出院清单打印>
	</Functions>

	<!--查询功能-->
	<InfoQuery>
		<药品查询>
			<Name>药品信息查询</Name>
			<Order>0</Order>
			<Visabled>1</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_药品信息</ImageName>
		</药品查询>
		<项目查询>
			<Name>项目信息查询</Name>
			<Order>1</Order>
			<Visabled>1</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_诊疗项</ImageName>
		</项目查询>
		<已缴费明细>
			<Name>已缴费明细查询</Name>
			<Order>1</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_门诊消费</ImageName>
		</已缴费明细>
		<检验结果>
			<Name>检验结果查询</Name>
			<Order>0</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_检查报告</ImageName>
		</检验结果>
		<影像结果>
			<Name>影像结果查询</Name>
			<Order>1</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_影像报告</ImageName>
		</影像结果>
		<住院一日清单>
			<Name>住院清单查询</Name>
			<Order>1</Order>
			<Visabled>1</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_住院一日清单</ImageName>
		</住院一日清单>
		<执业资格查询>
			<Name>执业资格查询</Name>
			<Order>1</Order>
			<Visabled>0</Visabled>
			<IsEnabled>1</IsEnabled>
			<ImageName>图标_住院一日清单</ImageName>
		</执业资格查询>
        <科室医生查询>
            <Name>科室医生查询</Name>
            <Order>1</Order>
            <Visabled>1</Visabled>
            <IsEnabled>1</IsEnabled>
            <ImageName>图标_门诊消费</ImageName>
        </科室医生查询>
	</InfoQuery>

	<!--可使用鉴定病人信息的卡片-->
	<Card>
		<身份证>
			<Name>身份证</Name>
			<Order>0</Order>
			<Visabled>1</Visabled>
			<ImageName>卡_身份证</ImageName>
			<建档>1</建档>
            <查询>1</查询>
            <住院>1</住院>
		</身份证>
		<就诊卡>
			<Name>就诊卡</Name>
			<Order>1</Order>
			<Visabled>0</Visabled>
			<ImageName>卡_诊疗卡</ImageName>
			<建档>0</建档>
			<查询>1</查询>
		</就诊卡>
		<社保卡>
			<Name>社保卡</Name>
			<Order>2</Order>
			<Visabled>1</Visabled>
			<ImageName>卡_社保卡</ImageName>
			<建档>0</建档>
            <查询>1</查询>
            <住院>1</住院>
		</社保卡>
        <住院号>
            <Name>住院号</Name>
            <Order>3</Order>
            <Visabled>1</Visabled>
            <ImageName>卡_诊疗卡</ImageName>
            <建档>0</建档>
            <查询>1</查询>
            <住院>1</住院>
        </住院号>
	</Card>

	<!--可选的住院押金支付方式-->
	<RechargeZY>
		<现金>
			<Name>现金充值</Name>
			<Order>0</Order>
			<Visabled>0</Visabled>
			<ImageName>支付_诊疗卡账户</ImageName>
			<Color>137,212,164</Color>
		</现金>
		<银联>
			<Name>银联充值</Name>
			<Order>1</Order>
			<Visabled>1</Visabled>
            <IsEnabled>1</IsEnabled>
			<ImageName>支付_银联</ImageName>
			<Color>248,180,117</Color>
		</银联>
		<支付宝>
			<Name>支付宝充值</Name>
			<Order>2</Order>
			<Visabled>1</Visabled>
            <IsEnabled>1</IsEnabled>
			<ImageName>支付_支付宝</ImageName>
			<Color>116,206,230</Color>
		</支付宝>
		<微信支付>
			<Name>微信充值</Name>
			<Order>3</Order>
            <Visabled>1</Visabled>
            <IsEnabled>1</IsEnabled>
			<ImageName>支付_微信</ImageName>
			<Color>137,212,164</Color>
		</微信支付>
		<苹果>
			<Name>苹果充值</Name>
			<Order>4</Order>
			<Visabled>0</Visabled>
			<ImageName>支付_ApplePay</ImageName>
			<Color>162,169,239</Color>
		</苹果>
	</RechargeZY>

	<!--A6读卡器-->
	<Act_A6>
		<Port>9</Port>
		<Baud>9600</Baud>
	</Act_A6>

	<!--所有打印机配置-->
	<Printer>
		<!--凭条打印机名称-->
		<Receipt>Microsoft Print to PDF</Receipt>
		<!--斑马打印机名称-->
		<ZBRPrinter>Zebra ZXP Series 3C USB Card Printer</ZBRPrinter>
		<!--激光打印机-->
        <!--<Laser>Microsoft Print to PDF</Laser>-->
		<Laser>Hewlett-Packard HP LaserJet P3010 Series</Laser>
	</Printer>

	<!--斑马打印机附带射频读写模块-->
	<Icm522>
		<!--读写模块的串口值(数字)-->
		<Port>13</Port>
		<!--读写模块的串口波特率(数字)-->
		<Baud>19200</Baud>
	</Icm522>
	<Screen>
		<Width>1080</Width>
		<Height>1920</Height>
	</Screen>
</root>