<?xml version="1.0" encoding="utf-8"?>
<CreateFileConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServerUrl>http://172.26.1.3:8099/Update/</ServerUrl>
  <CreateFileList>
    <CreateFile fileName="Terminal.exe"/>
    <CreateFile fileName="YuanTu.AutoUpdater.dll"/>
    <CreateFile fileName="YuanTu.Consts.dll"/>
    <CreateFile fileName="YuanTu.Core.dll"/>
    <CreateFile fileName="YuanTu.Default.Clinic.dll"/>
    <CreateFile fileName="YuanTu.Default.dll"/>
    <CreateFile fileName="YuanTu.Default.Theme.dll"/>
    <CreateFile fileName="YuanTu.Devices.dll"/>
    <CreateFile fileName="YuanTu.ISO8583.dll"/>
    <CreateFile fileName="YuanTu.YanTaiArea.dll"/>
    <CreateFile fileName="YuanTu.YanTaiYDYY.dll"/>
    <CreateFile fileName="sqlite3.dll"/>
    <CreateFile fileName="Autofac.dll"/>
    <CreateFile fileName="Microsoft.QualityTools.Testing.Fakes.dll"/>
  </CreateFileList>
</CreateFileConfig>