<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://192.168.100.102:8082/</ServerUrl>
  <UpdateFileList>
    <LocalFile path="YuanTu.AutoUpdater.dll" lastver="1.0.0.0" size="27136" />
    <LocalFile path="Terminal.exe" lastver="1.0.0.0" size="184832" />
    <LocalFile path="YuanTu.Default.dll" lastver="1.0.0.0" size="378880" />
    <LocalFile path="YuanTu.Devices.dll" lastver="1.0.0.0" size="85504" />
    <LocalFile path="YuanTu.Core.dll" lastver="1.0.0.0" size="2586624" />
    <LocalFile path="YuanTu.Consts.dll" lastver="1.0.0.0" size="291840" />
    <LocalFile path="YuanTu.QDKouQiangYY.dll" lastver="1.0.0.0" size="125952" />
    <LocalFile path="YuanTu.QDArea.dll" lastver="1.0.0.0" size="42496" />
    <LocalFile path="YuanTu.QDJZZXYY.dll" lastver="1.0.0.0" size="25600" />
  </UpdateFileList>
</Config>