<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SelfRegServiceSoap" />
        <binding name="DHCOPBillAutoPaySOAPSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.100.100.188/DTHealth/web/RegInterface.Service.SelfRegService.cls"
        binding="basicHttpBinding" bindingConfiguration="SelfRegServiceSoap"
        contract="HisRegisterService.SelfRegServiceSoap" name="SelfRegServiceSoap" />
      <endpoint address="http://172.100.100.188/dthealth/web/web.DHCOPBillAutoPaySOAP.cls"
        binding="basicHttpBinding" bindingConfiguration="DHCOPBillAutoPaySOAPSoap"
        contract="HisOpBillAutoPayService.DHCOPBillAutoPaySOAPSoap"
        name="DHCOPBillAutoPaySOAPSoap" />
    </client>
  </system.serviceModel>
</configuration>