<?xml version="1.0" encoding="utf-8"?>
<CreateFileConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<ServerUrl>http://192.168.10.65:9090/UpdateVer2/</ServerUrl>
	<CreateFileList>
		<CreateFile fileName="Terminal.exe" />
		<CreateFile fileName="YuanTu.AutoUpdater.dll" />
		<CreateFile fileName="YuanTu.Default.dll" />
		<CreateFile fileName="YuanTu.Default.Theme.dll" />
		<CreateFile fileName="YuanTu.Default.Clinic.dll" />
		<CreateFile fileName="YuanTu.Devices.dll" />
		<CreateFile fileName="YuanTu.Core.dll" />
		<CreateFile fileName="YuanTu.Consts.dll" />
		<CreateFile fileName="YuanTu.QDArea.dll" />
		<CreateFile fileName="YuanTu.QDKouQiangYY.dll" />
		<CreateFile fileName="YuanTu.QDFuErYY.dll" />
		<CreateFile fileName="Microsoft.QualityTools.Testing.Fakes.dll" />
		<CreateFile fileName="External\sqlite3_x86.dll" />
		<CreateFile fileName="External\sqlite3_x64.dll" />
		<CreateFile fileName="External\libuv_x86.dll" />
		<CreateFile fileName="External\libuv_x64.dll" />
		<CreateFile fileName="External\sqlite3.dll" />
	</CreateFileList>
</CreateFileConfig>