<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--强制使用的Webservice地址，他有值将忽略传的参数的地址和双击使用的地址-->
    <add key="WebServiceAddressOne" value="" />
    <!--双击使用的Webservice地址，未传参数数据单独使用的地址-->
    <add key="WebServiceAddressTow" value="http://192.168.100.100/csp/lis/LIS.WS.DHCLISService.cls" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LISServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LISServiceSoap" contract="LISServiceSoap" name="LISServiceSoap"/>
    </client>
    <services>
      <service name="LisInterfaceWcfServer" behaviorConfiguration="">
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="LIS.BLL.QualityControl.IQualityControlService"/>
        <endpoint address="" binding="basicHttpBinding" contract="LIS.BLL.MicReportManager.IMicReportManagerService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点-->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>

