<?xml version="1.0" encoding="utf-8"?>
<CreateFileConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServerUrl>http://192.168.0.51:8082/UpdateVer2/</ServerUrl>
  <CreateFileList>
    <CreateFile fileName="Terminal.exe" />
    <CreateFile fileName="YuanTu.AutoUpdater.dll" />
    <CreateFile fileName="YuanTu.Default.dll" />
    <CreateFile fileName="YuanTu.Devices.dll" />
    <CreateFile fileName="YuanTu.Core.dll" />
    <CreateFile fileName="YuanTu.Consts.dll" />
    <CreateFile fileName="YuanTu.QDArea.dll" />
    <CreateFile fileName="YuanTu.QDKouQiangYY.dll" />
    <CreateFile fileName="YuanTu.QDKFQRM.dll" />    
  </CreateFileList>
</CreateFileConfig>