<?xml version="1.0" encoding="utf-8" ?>
<root>
  <!--收银功能-->
  <Functions>
    <建档>
      <Name>自助建档</Name>
      <Order>0</Order>
      <Visabled>0</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_建档发卡</ImageName>
    </建档>
    <挂号>
      <Name>挂号</Name>
      <Order>1</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_挂号</ImageName>
    </挂号>
    <预约>
      <Name>预约</Name>
      <Order>2</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_预约</ImageName>
    </预约>
    <取号>
      <Name>自助取号</Name>
      <Order>3</Order>
      <Visabled>0</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_取号</ImageName>
    </取号>
    <缴费>
      <Name>自助缴费</Name>
      <Order>4</Order>
      <Visabled>0</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_缴费</ImageName>
    </缴费>
    <充值>
      <Name>自助充值</Name>
      <Order>5</Order>
      <Visabled>0</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_充值</ImageName>
    </充值>
    <住院押金>
      <Name>住院押金</Name>
      <Order>6</Order>
      <Visabled>0</Visabled>
      <IsEnabled>0</IsEnabled>
      <ImageName>图标_住院押金</ImageName>
    </住院押金>
    <查询>
      <Name>自助查询</Name>
      <Order>7</Order>
      <Visabled>0</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_查询</ImageName>
    </查询>
    <收银>
      <Name>收银</Name>
      <Order>0</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_充值</ImageName>
    </收银>
  </Functions>
  <Cashier>
    <收款>
      <Name>收款</Name>
      <Order>0</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_药品信息</ImageName>
    </收款>
    <退款>
      <Name>退款</Name>
      <Order>1</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>图标_诊疗项</ImageName>
    </退款>
  </Cashier>
  <CashierPayOut>
    <预缴金>
      <Name>诊疗卡支付</Name>
      <Order>0</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>支付_诊疗卡账户</ImageName>
      <Color>137,212,164</Color>
    </预缴金>
    <银联>
      <Name>银联支付</Name>
      <Order>1</Order>
      <Visabled>1</Visabled>
      <IsEnabled>0</IsEnabled>
      <ImageName>支付_银联</ImageName>
      <Color>248,180,117</Color>
    </银联>
    <社保>
      <Name>社保卡支付</Name>
      <Order>2</Order>
      <Visabled>0</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>支付_社保卡</ImageName>
      <Color>116,206,230</Color>
    </社保>
    <支付宝>
      <Name>支付宝支付</Name>
      <Order>4</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>支付_支付宝</ImageName>
      <Color>116,206,230</Color>
    </支付宝>
    <微信支付>
      <Name>微信支付</Name>
      <Order>3</Order>
      <Visabled>1</Visabled>
      <IsEnabled>1</IsEnabled>
      <ImageName>支付_微信</ImageName>
      <Color>137,212,164</Color>
    </微信支付>

    <苹果支付>
      <Name>Apple Pay</Name>
      <Order>5</Order>
      <Visabled>0</Visabled>
      <IsEnabled>0</IsEnabled>
      <ImageName>支付_ApplePay</ImageName>
      <Color>162,169,239</Color>
    </苹果支付>
    <智慧医疗>
      <Name>智慧医疗</Name>
      <Order>6</Order>
      <Visabled>0</Visabled>
      <IsEnabled>0</IsEnabled>
      <ImageName>支付_智慧医疗</ImageName>
      <Color>162,169,239</Color>
    </智慧医疗>
  </CashierPayOut>
</root>